.ex{
    margin-bottom: 40px;
    clear: left;
    float: left;
    width: 100%;
    border: 1px solid #D1D1D1;
    padding: 20px 0px 20px 0px;
}

#quadrado1{
    background:#d58512; 
    height:200px;
    width:200px;
}

#quadrado1 h2{
    font-size: 25px;
}


#quadrado2{
    background: #53be53;
    width: 180px;
    height: 160px;
}

#quadrado3{
    background:#20829f;
    height:100px;
    width:100px;
    position: absolute;
}

#form1 input{
    float: left;
    clear: left;
    margin-top: 10px;
}