#mapa{
    width: 800px;
    height: 600px;
}

#loading{
    display: none;
}

#resultado{
    display: none;
}

#destaque{
    padding-bottom: 100px;
}

#imgs img{
    width: 250px;
    height: 350px;
}